.contenu-about h2{
    text-transform: uppercase;
    margin-left:10%;
    color: #1d1d1b;
    font-size:1.5em;
    font-weight: 500;
}

.contenu-about-flex {
    display: flex;
    align-items: center;
    padding:2%;
    padding-top:0%;

}

.contenu-about-flex-text{
padding:5%;
}

.contenu-about-flex-text h3{
    text-transform: uppercase;
    color: #1d1d1b;
    font-size:1.05em;
    font-weight: 500;
}

.contenu-about-flex-text p{
    font-size:0.9em;
    padding: 2% 0%;
}

.contenu-about-flex img{
    width:100%;
    margin-left:10%;
}

@media screen and (max-width: 1200px) {
    .contenu-about-flex img{
        width:600px;
        height:300px;
    }
  }

  @media screen and (max-width: 1000px) {
    .contenu-about-flex{
        flex-direction: column;
    }
    .contenu-about-flex img{
        margin:0;
    }
  }  

  @media screen and (max-width: 750px) {
    .contenu-about-flex img{
        width:400px;
        height:250px;
    }
  }  

  @media screen and (max-width: 540px) {
    .contenu-about-flex{
        font-size:0.8em;
    }
    .contenu-about-flex img{
        width:300px;
        height:150px;
    }
  }  